// Addresses placeholder color unset in Firefox

:-moz-placeholder
  color: #a9a9a9

// Addresses placeholder text remaining visible on focus in Chrome

:focus::-webkit-input-placeholder
  color: transparent

